
@{
    ViewBag.Title = "Insurant";
}

<h2>Insurant</h2>
<li>@Html.ActionLink("Личный кабинет", "ViewInsurant", "PersArea")</li>
<li>@Html.ActionLink("Мои договора", "InsurantContract", "PersArea")</li>
<li>@Html.ActionLink("Мои старховые случаи", "InsurantCase", "PersArea")</li>
